*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca';
    box-sizing: border-box;
}
main{
    margin: 60px;
}
.row{
    max-width: 1440px;
    margin: auto;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.inner-1{
    background: hsl(31, 77%, 52%);
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.inner-2{
    background: hsl(184, 100%, 22%);
    padding: 40px;
}
.inner-3{
    background: hsl(179, 100%, 13%);
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inner-1,
.inner-2,
.inner-3, img{
    margin-bottom: 30px;
}
.texts{
    line-height: 1.5;
    margin-bottom: 70px;
    width: 180px;
    font-family: 'Lexend Deca';
}
.inner-1,
.inner-2,
.inner-3, p{
    /* width: 160px; */
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}
.inner-1,
.inner-2,
.inner-3, h1{
    padding-bottom: 15px;
    font-family: 'Big Shoulders Display';
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 35px;
}

.inner-1 button{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-bottom: 25px;
    font-size: 15px;
    color: hsl(31, 77%, 52%);
    cursor: pointer;
}
.inner-2 button{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-bottom: 25px;
    font-size: 15px;
    color: hsl(184, 100%, 22%);
    cursor: pointer;
}
.inner-3 button{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-bottom: 25px;
    font-size: 15px;
    color: hsl(179, 100%, 13%);
    cursor: pointer;
}
.inner-1 button:hover{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-bottom: 25px;
    font-size: 15px;
    color: #fff;
    background-color: hsl(31, 77%, 52%);
}
.inner-2 button:hover{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-bottom: 25px;
    font-size: 15px;
    color: #fff;
    background-color: hsl(184, 100%, 22%);
}
.inner-3 button:hover{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-bottom: 25px;
    font-size: 15px;
    color: #fff;
    background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 760px){
    .row{
        flex-direction: column;
        max-width: 375px;
    }
    .inner-1,
    .inner-2,
    .inner-3 {
        border-radius: 10px;
    }
}